@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

body {
	display: flex;
	justify-content: center;
}

.container {
	width: 100%;
	max-width: 60vw;
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
	text-align: justify;
}

.title {
	font-family: 'Readex Pro';
	font-weight: bold;
	margin-bottom: 20px;
	font-size: 3em;
	text-align: center;
}

.author-name {
	font-family: "Poppins";
	text-align: end;
}

.subtitle {
	font-family: 'PT Serif';
	font-weight: bold;
	font-size: 1.5em;
	color: rgb(0 0 0 / 40%);
	margin-bottom: 3vh;
}

.content {
	font-family: 'Poppins';
	font-size: 1em;
	white-space: pre-wrap;
	margin-bottom: 5vh;
}

.create-comment {
	padding: 2vh;
	background: rgb(0 0 0 / 7%);
	margin: 3vh 5vw;
	border-radius: 5px;
	font-family: 'Poppins';
}

.create-comment > form {
	display: grid;
	gap: 1vh;
}

.create-comment > form > input {
	width: stretch;
	border-radius: 5px;
	border: none;
	padding: 1vh;
	font-size: 1em;
}

.comments {
	padding: 2vh;
	border: 1px solid #ccc;
	border-radius: 5px;
	width: max-content;
}

.comment {
	border: 1px solid #ccc;
	padding: 1vh;
	border-radius: 5px;
	margin-bottom: 5px;
}

.comment-details {
	display: flex;
	flex-direction: column;
	margin-bottom: 5px;
}

.comment-details > div:first-child {
	font-size: small;
	padding-right: 3vh;
}

.comment-details > span {
	font-family: 'Poppins';
	white-space: pre-wrap;
	padding: 1vh;
}

.comment-footer {
	font-size: small;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
.comment-footer span {
	margin-left: 1vw;
}

.comment > span:nth-child(2) {
	font-size: 16px;
}

.create-comment button {
	width: max-content;
	justify-self: center;
}
