@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&display=swap');

body {
	background: rgb(55, 63, 71);
	margin: 0;
}

header {
	height: 6vh;
	background: rgb(55, 63, 71);
	background: white;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-search {
	width: 70vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-search input {
	width: 100%;
	height: 5vh;
	border: none;
	border-bottom: 1px solid rgb(55, 63, 71);
	outline: none;
	font-family: 'Poppins';
	font-style: italic;
	font-size: large;
}

.header-search button {
	width: max-content;
	height: 5vh;
	border: none;
	color: black;
	background: transparent;
	font-family: 'Poppins';
	border-radius: 1vh;
}

.header-search button:hover {
	text-shadow: 0 0 3px rgb(55, 63, 71);
}

.header-option i {
	font-size: 2rem;
	margin: 0 1vw;
}

nav {
	background: #dadff7;
	padding: 10px;
	display: flex;
	justify-content: space-between;
}

.container {
	display: flex;
	justify-content: space-between;
	min-height: 140vh;
}

.post-container {
	margin: 2vh 2vh;
	max-height: 140vh;
	overflow: scroll;
}

.post-container::-webkit-scrollbar {
	display: none;
}

.post-title {
	font-family: 'Readex Pro';
	font-size: xx-large;
	display: flex;
	justify-content: space-between;
}

.post-title > span:nth-child(2) {
	font-family: 'Lora';
	font-size: medium;
	font-style: italic;
}

.post-content {
	font-family: 'Lora';
	font-style: italic;
	text-align: justify;
	font-size: large;
}

.post-footer {
	display: flex;
}

.post-footer-block {
	display: grid;
	grid-auto-flow: column;
	gap: 1vh;
	margin: 0 1vw;
	font-family: 'Poppins';
	align-items: center;
}

.post-footer-block:nth-child(4) {
	margin-left: auto;
}

.post-footer-block:nth-child(5) {
	margin-left: 2vh;
}

.blog-post {
	background: white;
	margin-bottom: 3vh;
	padding: 2vh;
	height: 30vh;
	border-radius: 2vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transition: 0.35s;
}

.blog-post:active {
	transform: scale(0.98);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.right-aside {
	margin: 2vh 1vh;
}

.right-side-block {
	background: white;
	width: 25vw;
	height: 10vh;
	border-radius: 2vh;
	padding: 1vh;
	margin-bottom: 2vh;
}

.left-side-block {
	background: rgba(255 255 255 / 65%);
	width: 15vw;
	height: 100%;
}

footer {
	background: rgb(75, 83, 91);
	height: 40vh;
}
