<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/blog.css">
    <title>Blog Title</title>
</head>

<body>
    <div class="container">
        <div class="title" th:text="${post.getTitle()}"></div>
        <div class="post-details">
            <div class="post-meta-data">
                <span th:inline="text">Author Name : [[${post.getAuthor().getName()}]]</span>
                <span th:inline="text">Published Date : [[${post.getUpdatedAt()}]] </span>
            </div>
            <div class="post-tags">
                <span class="post-tag" th:each="tag : ${tags}" th:text="${tag.getName()}"></span>
            </div>
            <div class="post-update-delete">
                <button class="btn" onclick="updatePost()">Update</button>
                <button class="btn" onclick="deletePost()">Delete</button>
            </div>
        </div>
        <div class="subtitle" th:text="${post.getExcerpt()}"></div>
        <div class="content" id="blog-content-view" th:text="${post.getContent()}"></div>

        <div class="comments">
            <div th:each="comment : ${comments}" class="comment">
                <div class="comment-details">
                    <div class="comment-header" th:text="${comment.getName() +' : ' + comment.getEmail()}"></div>
                    <textarea class="comment-content" th:text="${comment.getComment()}" readonly></textarea>
                    <div class="comment-footer">
                        <span th:text="${'Created At : ' + comment.getCreatedAt()}"></span>
                        <span th:text="${'Updated At : ' + comment.getUpdatedAt()}"></span>
                    </div>
                    <div class="update-delete-comment">
                        <button th:value="${comment.getId()}" onclick="updateComment(this.value, this)">Update</button>
                        <button th:value="${comment.getId()}" onclick="deleteComment(this.value)">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="create-comment">
            <form action="../comment/save" method="post">
                <input type="hidden" name="postid" th:value="${postid}">
                <label for="name">Name </label>
                <input type="text" id="name" name="name" placeholder="Write your Name Here" required>
                <label for="email">Email </label>
                <input type="text" id="email" name="email" placeholder="Write your Email Here" required>
                <label for="comment">Comment </label>
                <textarea name="comment" id="comment" cols="30" placeholder="Write your Comment Here"
                    required></textarea>
                <button class="btn" type="submit">Submit</button>
            </form>
        </div>
    </div>
    <script th:src="@{/js/blog.js}"></script>
</body>

</html>