<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/blog.css">
    <link rel="stylesheet" href="/css/blog.css">
    <title>Blog Title</title>
</head>

<body>
    <div class="container">
        <div class="title" th:text="${post.getTitle()}"></div>
        <div class="subtitle" th:text="${post.getExcerpt()}"></div>
        <div class="content" id="blog-content-view" th:text="${post.getContent()}"></div>
        <div class="comments">
            <div class="comment">
                <div class="comment-details">
                    <div>Navin Kumar : myself.navinkumar@gmail.com</div>
                    <span>This is comment</span>
                    <div>
                        <span>Created At : 9:00</span>
                        <span>Updated At : 10:00</span>
                    </div>
                </div>
            </div>
            <div class="comment">
                <div class="comment-details">
                    <div>Navin Kumar : myself.navinkumar@gmail.com</div>
                    <span>This is comment</span>
                    <div>
                        <span>Created At : 9:00</span>
                        <span>Updated At : 10:00</span>
                    </div>
                </div>
            </div>
            <div class="comment">
                <div class="comment-details">
                    <div>Navin Kumar : myself.navinkumar@gmail.com</div>
                    <span>This is comment</span>
                    <div>
                        <span>Created At : 9:00</span>
                        <span>Updated At : 10:00</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="create-comment">
            <form action="">
                <label for="name">Name </label>
                <input type="text" id="name" name="name" placeholder="Write your Name Here">
                <label for="email">Email </label>
                <input type="text" id="email" name="email" placeholder="Write your Email Here">
                <label for="comment">Comment </label>
                <textarea name="comment" id="comment" cols="30" placeholder="Write your Comment Here"></textarea>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
    <script>
    </script>
</body>

</html>