<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Share</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>
    <header>
        <img src="" alt="logo">
        <div class="header-search">
            <input type="text" placeholder="Search" id="search-input">
            <button>Search</button>
        </div>
        <div class="header-option">
            <i class="fas fa-user"></i>
            <i class="fas fa-sign-out-alt"></i>
        </div>
    </header>
    <nav>
        <div>
            <a href="/newpost" style="font-family: 'Poppins';">Create Blog</a>
        </div>
        <select>
            <option>By Published Date</option>
            <option>By Author</option>
            <option>By Created Date</option>
            <option>By Updated Date</option>
        </select>
    </nav>
    <div class="container">
        <aside class="left-side">
            <div class="left-side-block"></div>
        </aside>
        <section class="post-container">
            <div class="blog-post" id="1" onclick="window.location.href='/1'">
                <div class="post-title">
                    <span>
                        This is title
                    </span>
                    <span>Published : Today</span>
                </div>
                <div class="post-content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, assumenda
                    natus neque optio fugiat facere cumque voluptas? Vero vitae quos sapiente, assumenda nam sint cumque
                    porro, nemo expedita incidunt quas! Temporibus nemo dignissimos adipisci sequi odio ipsam tempore
                    exercitationem beatae! Totam libero corrupti mollitia non itaque
                </div>
                <div class="post-footer">
                    <div class="post-footer-block">
                        <i class="fas fa-comment"></i>
                        <span>100</span>
                    </div>
                    <div class="post-footer-block">
                        <i class="fas fa-thumbs-up"></i>
                        <span>100</span>
                    </div>
                    <div class="post-footer-block">
                        <i class="fas fa-eye"></i>
                        <span>100</span>
                    </div>
                    <div class="post-footer-block">
                        <span>tags</span>
                    </div>
                    <div class="post-footer-block">
                        <span>Author : </span>
                        <span>Navin Kumar</span>
                    </div>
                </div>
            </div>
        </section>
        <aside class="right-aside">
            <div class="right-side-block">
            </div>
            <div class="right-side-block">
            </div>
            <div class="right-side-block">
            </div>
        </aside>
    </div>
    <footer>
        this is footer
    </footer>
    <script src="../static/js/index.js"></script>
</body>

</html>