<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Share</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <script th:src="@{/js/jquery-3.6.0.js}"></script>
</head>

<body>
    <header>
        <img th:src="@{/images/logo.png}" onclick="location.href='/'" alt="logo">
        <div class="header-search">
            <input type="text" placeholder="Search" id="search-input">
            <button>Search</button>
        </div>
        <div class="header-option">
            <i class="fas fa-user"></i>
            <i class="fas fa-sign-out-alt"></i>
        </div>
    </header>
    <nav>
        <div>
            <a href="/newpost" style="font-family: 'Poppins';">Create Blog</a>
        </div>
        <div>
            <select onchange="searchSort()" id="sort-field">
                <option value="none" disabled selected>Select Sort Field </option>
                <option value="published_date">By Published Date</option>
                <option value="author_name">By Author Name</option>
            </select>
            <select id="sort-order" onchange="searchSort()">
                <option value="desc">Desc</option>
                <option value="asc">Asc</option>
            </select>
        </div>
    </nav>
    <div class="container">
        <aside class="left-side">
            <div class="left-side-block"></div>
        </aside>
        <section class="post-container">
            <div>

                <div th:each="post : ${posts}" class="blog-post" th:id="${post.getId()}" onclick="openPost(this.id)">
                    <div class="post-title">
                        <span th:text="${post.getTitle()}"></span>
                        <span th:inline="text">Published : [[${post.getCreatedAt()}]]</span>
                    </div>
                    <div class="post-content" th:text="${post.getExcerpt()}"></div>
                    <div class="post-footer">
                        <div class="post-footer-block">
                            <i class="fas fa-comment"></i>
                            <span>100</span>
                        </div>
                        <div class="post-footer-block">
                            <i class="fas fa-thumbs-up"></i>
                            <span>100</span>
                        </div>

                        <div class="post-footer-block">
                            <span th:text="${postWithTags.get(post)}"></span>
                        </div>
                        <div class="post-footer-block">
                            <span>Author : </span>
                            <span th:text="${post.getAuthor().getName()}"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pagination-block">
                <button class="prev-btn" onclick="prevPage()" th:disabled="${prevDisabled}">Prev</button>
                <span id="curr-page" th:text="${page}"></span>
                <button class="next-btn" onclick="nextPage()" th:disabled="${nextDisabled}">Next</button>
            </div>
        </section>
        <aside class="right-aside">
            <div class="right-side-block">
                <div class="tags-container">
                    <div class="tag-block" id="tag-block">
                    </div>
                </div>
                <div class="tags-input-block">
                    <input type="search" list="tags-list" id="tag-input" placeholder="Tags">
                    <datalist id="tags-list">
                        <option value="Java">
                        <option value="C++">
                        <option value="Spring">
                        <option value="MVC">
                    </datalist>
                </div>
            </div>

            <div class="right-side-block">
            </div>
            <div class="right-side-block">
            </div>
        </aside>
    </div>
    <footer>
        this is footer
    </footer>
    <script th:src="@{/js/index.js}"></script>
</body>

</html>