<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Share</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <script th:src="@{/js/jquery-3.6.0.js}"></script>
</head>

<body>
    <header>
        <img th:src="@{/images/logo.png}" onclick="location.href='/'" alt="logo">
        <div class="header-search">
            <input type="text" placeholder="Search" id="search-input">
            <button onclick="searchPost()">Search</button>
        </div>
        <div class="header-option">
            <i class="fas fa-user" onclick="location.href='/login'"></i>
            <i class="fas fa-sign-out-alt" onclick="location.href='/logout'"></i>
        </div>
    </header>
    <nav>
        <div>
            <button class="new-post-btn" onclick="location.href= '/newpost'">Create New Blog</button>
        </div>
        <select class="nav-select-sort" onchange="searchSort()" id="sort-field-order">
            <option value="none" disabled selected>Select Sort Field </option>
            <option value="published_date,asc">By Published Date Asc</option>
            <option value="published_date,desc">By Published Date Desc</option>
            <option value="author_name,asc">By Author Name Asc</option>
            <option value="author_name,desc">By Author Name Desc</option>
        </select>
    </nav>
    <div class="container">
        <aside class="left-side">
            <div class="left-side-block"></div>
        </aside>
        <section class="post-container">
            <div>

                <div th:each="post : ${posts}" class="blog-post" th:id="${post.getId()}" onclick="openPost(this.id)">
                    <div class="post-title">
                        <span th:text="${post.getTitle()}"></span>
                        <span th:inline="text">Published : [[${post.getCreatedAt()}]]</span>
                    </div>
                    <div class="post-content" th:text="${post.getExcerpt()}"></div>
                    <div class="post-footer">
                        <div class="post-footer-block">
                            <i class="fas fa-comment"></i>
                            <span>100</span>
                        </div>
                        <div class="post-footer-block">
                            <i class="fas fa-thumbs-up"></i>
                            <span>100</span>
                        </div>

                        <div class="post-footer-block">
                            <span th:text="${postWithTags.get(post)}"></span>
                        </div>
                        <div class="post-footer-block">
                            <span>Author : </span>
                            <span th:text="${post.getAuthor().getName()}"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pagination-block">
                <button class="prev-btn" onclick="prevPage()" th:disabled="${prevDisabled}">Prev</button>
                <span id="curr-page" th:text="${page}"></span>
                <button class="next-btn" onclick="nextPage()" th:disabled="${nextDisabled}">Next</button>
            </div>
        </section>
        <aside class="right-aside">
            <div class="right-side-block">
                <div class="chip-container">
                    <div class="chip-block" id="tag-block">
                        <span class='chip' th:each="tag : ${tags}" th:inline="text">
                            [[${tag.getName()}]]
                            <data th:value="${tag.getId()}" class="far fa-times-circle"
                                onclick="removeTag(this.value)"></data>
                        </span>
                    </div>
                </div>
                <div class="chip-input-block">
                    <input type="search" list="tags-list" id="tag-input" placeholder="Tags Filter">
                    <datalist id="tags-list">
                    </datalist>
                </div>
            </div>

            <div class="right-side-block">
                <div class="chip-container">
                    <div class="chip-block" id="author-block">
                        <span class='chip' th:each="author : ${authors}" th:inlne="text">
                            [[${author.getName()}]]
                            <data th:value="${author.getId()}" class="far fa-times-circle"
                                onclick="removeAuthor(this.value)"></data>
                        </span>

                    </div>
                </div>
                <div class="chip-input-block">
                    <input type="search" list="authors-list" id="author-input" placeholder="Authors Filter">
                    <datalist id="authors-list">
                    </datalist>
                </div>
            </div>
            <div class="right-side-block date-block">
                <div>
                    <label>Post From : </label>
                    <input class="date-input" type="date" name="" id="">
                </div>
                <div>
                    <label>Post To : </label>
                    <input class="date-input" type="date" name="" id="">
                </div>
            </div>
        </aside>
    </div>
    <script th:src="@{/js/index.js}"></script>
</body>

</html>