<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write Blog</title>
    <link rel="stylesheet" href="/css/newpost.css">
</head>

<body>
    <form class="container" action="/newpost/save" onsubmit="saveNewPost(event)" method="post" th:object="${post}">
        <div class="input-post-details">
            <input type="text" name="author0" id="author" placeholder="Author Name" required>
            <label for="is_published">Do you want to publish this post?</label>
            <select name="published" id="is_published">
                <option value="true">True</option>
                <option value="false">False</option>
            </select>
            <label for="tags">Insert tags with Enter</label>
            <input type="search" name="" id="tag-input" list="tags-list" placeholder="Enter Tags">
            <datalist id="tags-list">
                <option value="Java">
                <option value="Spring">
                <option value="Spring Boot">
                <option value="Java Core">
                <option value="Hibernate">
            </datalist>
            <textarea name="tags" id="tags" cols="30" rows="10" placeholder="Tags" readonly required></textarea>
        </div>

        <div class="title">
            <textarea type="text" name="title" id="" placeholder="Title" required></textarea>
        </div>
        <div class="subtitle">
            <textarea type="text" name="excerpt" placeholder="Sub-title" required></textarea>
        </div>
        <div class="content">
            <textarea name="content" id="blog-content" cols="30" rows="1" placeholder="Write you Content"
                required></textarea>
        </div>
        <button class="post-btn" type="submit">Post Blog</button>
    </form>

    <script th:src="@{/js/newpost.js}"></script>
</body>

</html>