<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write Blog</title>
    <link rel="stylesheet" href="/css/newpost.css">
    <script th:src="@{/js/jquery-3.6.0.js}"></script>
</head>

<body>    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<form class="container" action="/updatepost/update" method="post">
        <input type="hidden" name="id" th:value="${post.id}">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <div class="input-post-details">
            <input type="text" name="authorName" id="author" placeholder="Author Name"
                th:value="${post.author.name}" readonly required>
            <label for="is_published">Do you want to publish this post?</label>
            <select name="published" id="is_published">
                <option value="true" th:selected="${post.isPublished() == true}">True</option>
                <option value="false" th:selected="${post.isPublished() == false}">False</option>
            </select>
            <label for="tags">Insert tags with Enter</label>
            <div class="tag-insert-block">
                <div class="chip-input-block">
                    <input type="search" list="tags-list" id="tag-input" placeholder="Tags Insert">
                    <datalist id="tags-list"></datalist>
                </div>
                <div class="chip-container">
                    <div class="chip-block" id="tag-block">
                        <span th:each="tag : ${tags}" class='chip' th:inline="text">[[${tag.getName()}]]
                            <data th:value="${tag.name}" class="far fa-times-circle"
                                onclick="removeTag(this)"></data>
                        </span>
                    </div>
                </div>
            </div>
            <input type="hidden" id="tags-data" name="tagsData">
        </div>

        <div class="title">
            <textarea type="text" name="title" id="" placeholder="Title" th:text="${post.title}"
                required></textarea>
        </div>
        <div class="subtitle">
            <textarea type="text" name="excerpt" placeholder="Sub-title" th:text="${post.excerpt}"
                required></textarea>
        </div>
        <div class="content">
            <textarea name="content" id="blog-content" cols="30" rows="1" placeholder="Write you Content"
                th:text="${post.content}" required></textarea>
        </div>
        <button class="post-btn" type="submit">Update
            Post</button>
    </form>
    <script th:src="@{/js/post.js}"></script>
</body>

</html>